.footerContain{
    padding: 20px 100px;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.iconFooter{
    display: flex;
    gap: 10px;
}
.iconFooter svg{
    color:white;
    font-size: 30px;
}

@media (max-width: 768px) { 
    .footerContain{
        display: flex;
    }
}

@media (max-width: 576px) { 
    .footerContain{
        display: flex;
    }
}








